<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>音声入力の録音にマイクを使用します。</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>現在の入力先へ音声入力結果を貼り付けるために使用します。</string>
</dict>
</plist>
